/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Termina el reset de CSS */


/* Termina el reset de CSS */


/* Termina el reset de CSS */

html {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0 1rem;
    padding: 0 2rem 2rem .7rem;
    background-color: #263547;
    color: #d0836f;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    font-family: 'Martel', serif;
    font-weight: 600;
    margin: 1rem;
    padding: .8rem;
    color: #d0836f;
    text-transform: uppercase;
    background-color: #263547;
    margin-top: 1.4em;
}

#subti {
    margin-top: 0.5rem;
    padding-bottom: .5rem;
}

.trabajo {
    color: #e2dddd;
    font-size: 1.1em;
    font-weight: 600;
}

h3 {
    font-size: 1.6rem;
    margin: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    margin: 1rem;
}

li {
    margin: .25rem 1rem;
}

.principal {
    background-color: #d0836f;
    color: #263547;
    padding: 3em;
    z-index: 12;
}

.secundario {
    background-color: #dfe0e0;
    color: #263547;
    padding: 3em;
}

.principal h3 {
    color: #243131;
    background-color: #d0836f;
}

.secundario h2,
h3 {
    background-color: #263547;
    color: #dfe0e0;
}

.trabajo {
    color: #263547;
    font-size: 1.3em;
    font-weight: 800;
    letter-spacing: 2px;
}

@media screen and (min-width: 950px) {
    h1 {
        color: #d0836f;
        font-size: 4.5em;
        background-color: #ffffff;
        margin-top: 4em;
        width: 500px;
    }
    h2 {
        color: #d0836f;
        background-color: #ffffff;
        font-size: 1.3rem;
        margin-top: .2rem;
    }
    h3 {
        font-size: 1.3rem;
        background: none;
    }
    .principal {
        background: none;
    }
    .principal h3 {
        color: #243131;
        background-color: #ffffff;
    }
    .secundario h3 {
        color: #263547;
        background-color: #dfe0e0;
    }
    .secundario h2 {
        background-color: #263547;
        color: #dfe0e0;
        font-size: 1.5em;
    }
    .photo {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background-image: url(profile-pic.png);
        position: relative;
        z-index: 200;
        margin: 5em 3em;
    }
    .flexo {
        display: flex;
        flex-wrap: wrap;
        gap: var(--s1);
        flex-direction: row-reverse;
    }
    .flexo> :last-child {
        flex-basis: 4ch;
        flex-grow: 1;
    }
    .flexo> :first-child {
        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: 40%;
    }
    .skewed {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 70%;
        height: 15rem;
        background: #2c3e50fa;
        z-index: 10;
        transform: skewY(-36deg);
        transform-origin: top left;
    }
    #problemz {
        z-index: 133;
        position: relative;
    }
    .skewed2 {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        float: right;
        width: 100%;
        height: 40%;
        background: rgb(208, 131, 111);
        z-index: 11;
        transform: skewY(18deg);
        transform-origin: top right;
    }
}